@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model fhictkillerapp.Models.ViewAccount
<p>add funds<p>
<form asp-action="AddfundsToAccount" asp-controller="Account" enctype="multipart/form-data">
    <label asp-for="Balance"></label>
    <input type="text" id="amount" name="amount" placeholder="$" />
    <input type="submit" />
</form>