@{ ViewBag.test = 0;}
@{
    ViewData["Title"] = "MyAccount";
}

<h1>MyAccount</h1>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Your Orders</a>
            <a class="list-group-item list-group-item-action" id="list-incomingOrder-list" data-toggle="list" href="#list-incomingOrder" role="tab" aria-controls="incomingOrder">Incoming Orders</a>

        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="card">
                    <div class="card-body">
                        Profile
                    </div>
                    <div class="card" style="width: 45.5rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@ViewBag.Profile.Name</li>
                            <li class="list-group-item">@ViewBag.Profile.Balance <form asp-action="AddFunds" asp-controller="Account" enctype="multipart/form-data">
                                <input type="submit" />
                            </form></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="card">
                    <div class="card-header">
                        Your Orders
                    </div>
                    @{ foreach (var t in ViewBag.Orders) {
                        <div class="card-body">
                            <h5 class="card-title">@t.status</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="chat/@t.chatId" class="btn btn-primary">Chat</a>
                        </div>
                        }
                    }
                    
                </div>
            </div>

            <div class="tab-pane fade" id="list-incomingOrder" role="tabpanel" aria-labelledby="list-incomingOrder-list">
                <div class="card">
                    <div class="card-header">
                        Incoming Orders
                    </div>
                    @{ foreach (var t in ViewBag.OrdersIncoming)
                        {
                            <div class="card-body">
                                <h5 class="card-title">@t.status</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="chat/@t.chatId" class="btn btn-primary">Chat</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
</div>
