@*

*@
@model Common.Models.PostUpload
<form asp-action="AddPost" asp-controller="Posts" enctype="multipart/form-data">
    <label asp-for="PostName"></label>
    <input asp-for="PostName" placeholder="Your name goes here" />
    <label asp-for="PostDescription"></label>
    <input asp-for="PostDescription" placeholder="Your name goes here" />
    <label asp-for="MyImage"></label>
    <input asp-for="MyImage" />
    <input type="submit"/>
</form>
@{
}
