@model IEnumerable<Common.Posts>
@Html.ActionLink("Create Post", // <-- Link text
                 "CreatePost", // <-- Action Method Name
                 "Posts", // <-- Controller Name
                 null, // <-- Route value
                 null // <-- htmlArguments
                 )
<div style="width: 900px;
        height: 800px;">
    @foreach (var item in Model)
    {
        <div style="
            width: 200px;
            height: 200px;
            float: left;
            background-color: aqua;
            border-style: solid;
            margin: 5px;
            border-radius: 5px;
            ">
                <p>@item.PostName</p>
                <p>@item.PostId</p>
                @Html.ActionLink("View more", // <-- Link text
                     "ViewPost", // <-- Action Method Name
                     "Posts", // <-- Controller Name
                     new { Id = item.PostId } // <-- Route value
                     )
            </div>
    }
</div>
