@*

*@
@model Common.Posts
<form asp-action="Create" asp-controller="Posts">
    <label asp-for="PostName"></label>
    <input asp-for="PostName" placeholder="Your name goes here" />
    <input type="submit" />
</form>
@{
}
