@model fhictkillerapp.Models.ViewPosts

<div style="height: 40px;">
    <select class="form-select form-select-md" aria-label=".form-select-md example" style="margin-left: 30px;">
        <option value="1" name="sort">ABC ↑</option>
        <option value="2" name="sort">ABC ↓</option>
        <option value="3" name="sort">Date ↑</option>
        <option value="4" name="sort">Date ↓</option>
    </select>
    <a style="float: right; margin-right: 30px;" class="btn btn-primary" href="/posts/createpost">Create Post</a>
</div>

<div style="        width: 100%;
        vertical-align: middle;
">
    @foreach (var item in ViewBag.Posts)
           {
        <div class="card" style="float: left; margin: 0.5%; width: 24%;" onclick="location.href='/Post/@item.PostId';">
            <img src="@item.images[0]" class="card-img-top" alt="data\IMG\361a8b37-a37a-4141-ae15-814c5dc3d6e4\Untitled-1.jpg" style="        object-fit: contain;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    ">
            <div class="card-body">
                <h5 class="card-title">@item.PostName</h5>
            </div>
        </div>
    }
</div>


@*<nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>

    </nav>*@
