@model IEnumerable<Common.Posts>
    <div style="width: 900px;
        height: 800px;">
        @foreach (var item in Model)
        {
        <div style="        width: 200px;
        height: 200px;
        float: left;
        background-color: aqua;
        border-style: solid;
        margin: 5px;
        border-radius: 5px;
        ">
            <p>@item.PostName</p>
            @Html.ActionLink("Click here", // <-- Link text
                 "ViewPost", // <-- Action Method Name
                 "Post", // <-- Controller Name
                 new { id="test"}, // <-- Route value
                 null // <-- htmlArguments
                 )
        </div>
        }
    </div>
