@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Common.Models.OrderFormat;


    <a class="btn btn-primary" href="/post/@ViewBag.order" role="button">Back</a>
    <br>
    <form asp-action="OrderPost" asp-controller="Posts" enctype="multipart/form-data">
        <div class="mb-3" style="padding-top: 10px; width: 98%; margin: auto;">
            <label for="exampleFormControlTextarea1" class="form-label">Order Message</label>
            <textarea class="form-control" id="orderMessage" name="orderMessage" rows="3"></textarea>
        </div>
        <input type="hidden" name="PostId" id="PostId" value="@ViewBag.order">
        <input type="submit" class="btn btn-primary"/>
    </form>


